{% extends 'base.html' %}
{% block main %}

<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}

    <p>{{ form.student_id.label }} <br> {{ form.student_id(size=20, placeholder="Student ID") }}</p>
    <p>{{ form.student_name.label }} <br> {{ form.student_name(size=20, placeholder="Student Name") }}</p>
    <p>{{ form.academic_year.label }} <br> {{ form.academic_year() }}</p>
    <p>{{ form.major.label }} <br> {{ form.major() }}</p>
    <p><button type="submit">Search</button></p>
    
</form>

{% endblock %}