{% extends 'base.html' %}
{% block main %}

<h1>Update Student Info</h1>

<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}

    <p>{{ form.student_id.label }} <br> {{ form.student_id(size=20) }}</p>
    <p>{{ form.student_name.label }} <br> {{ form.student_name(size=20) }}</p>
    <p>{{ form.academic_year.label }} <br> {{ form.academic_year() }}</p>
    <p>{{ form.major.label }} <br> {{ form.major() }}</p>
    <p>{{ form.submit() }}</p>
</form>

<button type="button" class="button" onclick="window.location.href='{{ url_for('list_student') }}'">Back to Student List</button>

{% endblock %}